* {
    margin: 0;
    padding: 0;
}
.corn_cont {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    display: block;
}
.logo {
    width: 28%;
    height: 6%;
    position: relative;
    top: 6%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../bitmaps/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
h1 {
    text-align: center;
    font-family: 'Sriracha';
    font-size: 21px;
    margin-top: 18%;
}
.ar_icon {
    width: 25%;
    height: 25%;
    position: relative;
    margin-top: 18%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../bitmaps/ar.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.text_cont {
    width: 37%;
    height: 10%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    margin-top: 10%;
    font-family: 'Nunito';
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.download_butt {
    width: 34%;
    height: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    margin-top: 9%;
    border-radius: 12px;
    font-family: 'Nunito';
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
i {
    position: relative;
    width: 5%;
    height: auto;
    margin-left: 5%;
}
.chips_cont {
    width: 100vw;
    height: 105vh;
    margin: 0;
    margin-bottom: 5%;
    position: relative;
    display: block;
}
.ar_type {
    width: 100%;
    height: auto;
    padding-bottom: 12%;
    padding-top: 12%;
    position: relative;
    display: block;
}
.ar_type p {
    text-align: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 800;
    color: white;
    top: 20%;
    text-shadow: 3px 3px 5px #000000;
}
.install {
    width: 100%;
    height: auto;
    margin-top: 8%;
    position: relative;
}
.install h1 {
    font-size: 24px;
    font-family: 'Nunito';
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 3%;
    text-align: left;
}
.install_dec {
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.install p {
    font-family: 'Nunito';
    font-size: 17px;
}
footer {
    width: 100vw;
    height: 5vh;
    background-color: #000000;
    position: relative;
    padding-top: 5%;
    margin-bottom: 0;
}
footer p {
    font-family: 'Nunito';
    font-size: 14px;
    color: white;
    margin-left: 5%;
}
